	#consultResultSearchContent{
		width:100%;
		min-width:1024px;
	}


	#consultResultSearchContent>.item:nth-child(4) tbody tr{
		background-color:white;
	}

@media all and (min-width:1024px){


}

@media screen and (max-width:1020px){


}



@media screen and (max-width:767px){

}
