
/* mobile-search */
#mobile-search{
	box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
	border:0px;


}


#mobile-search .title>.hideButton .bi-caret-up-fill{
	display: inline-block;
	transition: all ease 0.3s;
	transform: rotate(-180deg);

}

#mobile-search .title>.hideButton .bi-caret-up-fill.rotate{
	display: inline-block;
	transition: all ease 0.3s;
	transform: rotate(0deg);

}


#mobile-search>.title{
	height:40px;
	padding:10px 20px;;
	background-color:#293042;
	color:white;
	font-size: calc(0.26vw + 9.08pt);
	display:flex;
	justify-content: space-between;


}



#mobile-search .table-box {
	background-color:white;
    display: none;

}


#mobile-search .table-box table{
	width:100%;
}


#mobile-search .table-box .table-title {
	height:15px;
}

#mobile-search .table-box .table-contents {
	/* height:15px; */
}





/* datebox */

#mobile-search .table-box .datebox {
	width:100%;

}

#mobile-search .table-box .datebox .datePickerbox{
	display:flex;
	justify-content: space-around;
	align-items: center;

}


#mobile-search .table-box .datebox span{
	font-size: calc(0.26vw + 7.08pt);
	color:#FF8C0A;
	vertical-align: top;

}

#mobile-search .table-box .datebox input{
	height:18px;
	text-align:center;
	font-size: calc(0.26vw + 11.08pt);
	width:90%;

}


#mobile-search .table-box .datebox .calendar-icon{
	font-size: calc(0.26vw + 10.5pt);
}




/* dropbox  */

#mobile-search .table-box .dropbox {
	height:40px;

}


#mobile-search .table-box .dropbox span{
	font-size: calc(0.26vw + 7.08pt);
	color:#FF8C0A;
	vertical-align: top;
}



#mobile-search .table-box .dropbox .dropdown {
	width:100%;
}

#mobile-search .table-box .dropbox .dropdown .dropdown-input{
	display:flex;
	justify-content: space-around;
	align-items: center;

}


#mobile-search .table-box .dropbox input{
	height:18px;

	/* height:18px;
	text-align:center;
	font-size: calc(0.26vw + 11.08pt); */
}







/* #mobile-search .table-box .dropbox .down-icon{
	top:0px;
	left:160px;

}
 */

/* inputbox */
#mobile-search .table-box .inputbox {
	height:40px;
}


#mobile-search .table-box .inputbox span{
	font-size: calc(0.26vw + 7.08pt);
	color:#FF8C0A;
	vertical-align: top;
	text-align: center;
}


#mobile-search .table-box .inputbox input{
	height:18px;
	text-align:center;
	font-size: calc(0.26vw + 10.08pt);
}



#mobile-search .table-box  input{
	text-align:center;
	font-size: calc(0.26vw + 10.08pt);
}



#mobile-search table input{
	border:0;

}

#mobile-search table td{
	border:1px solid lightgray;
	height:40px;
	/* padding-right:10px; */
}

