#productSelectRegContent {
	/* 	width: 100%; */
	/* min-width:768px; */
	min-width: 1024px;
}

#productSelectRegContent #mobile-search tr:nth-child(1) span {
	width: 40px;
}

#productSelectRegContent>.item:nth-child(6) {
	display: flex;
	font-size: calc(0.26vw + 10.08pt);
}

#productSelectRegContent>.item:nth-child(6) .tab-content td {
	font-size: calc(0.26vw + 10.08pt);
}

#productSelectRegContent>.item:nth-child(6) .tab-content #tab1 .table-content
	{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

#productSelectRegContent>.item:nth-child(6) .tab-content #tab1 .table-content .mobile-result:nth-child(1)
	{
	min-width: 360px;
	width: 48%;
}

#productSelectRegContent>.item:nth-child(6) .tab-content #tab1 .table-content .mobile-result:nth-child(2)
	{
	min-width: 360px;
	width: 48%;
}

#productSelectRegContent>.item:nth-child(6) .tab-content #tab2 .table-content
	{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#productSelectRegContent>.item:nth-child(6) .tab-content #tab2 .table-content .mobile-result:nth-child(1)
	{
	min-width: 48%;
	width: 48%;
}

#productSelectRegContent>.item:nth-child(6) .tab-content #tab2 .table-content .mobile-result:nth-child(2)
	{
	min-width: 48%;
	width: 48%;
}

@media all and (min-width:1024px) {
}

@media screen and (max-width:1020px) {
}

@media screen and (max-width:767px) {
}