	#header-contents{
		min-width:360px;
		display:flex;
		align-items: flex-end;
		width:100%;
		padding: 0 10px;
	}

	#header-contents>.item:nth-child(1){
		flex-basis: 80%;
		display:flex;

	}

	#header-contents>.item:nth-child(1)>i{
		font-weight:bold;
		color:#FF8C0A;
		font-size: calc(0.26vw + 17.08pt);
		margin-right:10px;
		padding-top:5px;


	}

	#header-contents  #menu-nav{
		font-size: calc(0.26vw + 11.08pt);
		padding:10px 0;
	}

	#header-contents #funcBtn{
		flex-basis: 20%;
		height:35px;
		text-align:right;

	}

	#header-contents #funcBtn .hearder-item{
		display:flex;
		justify-content:  flex-end;

	}

	#header-contents #funcBtn .hearder-item #homeBtn{
	    margin-right:10px;

	}
	#header-contents #funcBtn .hearder-item #homeBtn i{
		font-size: calc(0.26vw + 13.08pt);
	}



	#header-contents #funcBtn .hearder-item #dropBtn i{
		font-size: calc(0.26vw + 13.08pt);

	}

@media all and (min-width:1024px){



}

@media screen and (max-width:1020px){



	#header-contents>.item:nth-child(3) .hearder-item #homeBtn{
		display:none;
	}

/* 	#header-contents>.item:nth-child(3) .hearder-item #dropBtn span:nth-child(1){
		display:none;
	} */

}


@media screen and (max-width:767px){


	#header-contents #funcBtn {
	    flex-basis: 30%;
	}


	#header-contents .hearder-item #homeBtn{
	/* 	display:none; */

	}

}








