#wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar{
	width:200px;
	height:100%;
	background: #293042;
    transition:all .35s;
}


#main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    flex-direction: column;
    background-color:#f8f9fa!important;

    
}

#content{
    padding:2%;
    background-color:#f7f9fc;
    height:100%;
    font-size:11pt;
}
