.nav-side {
		transition: margin-left .35s ease-in-out, left .35s ease-in-out,
			margin-right .35s ease-in-out, right .35s ease-in-out;
		direction: ltr;
		width: 100%;



	}

	#sidebar-content {
		width: 100%;
	/* 	display: none; */
		overflow-y: auto;

	}

	.sidebar-brand {
		height: 40px;
		color: #fff;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	    background-color: rgba(225, 255, 255, 0.1);

	}
	.sidebar-brand img {
		width: auto;
		height: auto;
		max-width: 28px;
		max-height: 38px;
	}
	@font-face {
		font-family: 'Cafe24Dangdanghae';
		src:
			url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff')
			format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

	#band-text {
		font-family: 'BMEuljiro10yearslater', sans-serif;
		/* font-family: 'BMEuljiro10yearslater', sans-serif; */
		font-size: calc(0.26vw + 10.08pt);
		padding-left: 2px;
		padding-top: 3px;
		color: gray;

	}
	/*  sidebar-menu  */



	.sidebar-menu .sidebar-link, a.sidebar-link {
		text-decoration: none;
		transition: color 75ms ease-in-out;
		cursor: pointer;
		display: block;
		border-left: 3px solid transparent;
	}
	.sidebar-menu .sidebar-item>div {
		display: flex;
		justify-content: space-around;
		padding-left: 0.2rem;
		line-height: 50px;
		font-size: calc(0.26vw + 9.08pt);
		margin-top: 20px;
	}
	.sidebar-menu {
		padding-left: 0rem;
			min-width:130px;
	}
	.sidebar-menu ul {
		padding-left: 0rem;
	}
	.sidebar-menu a {
		color: white;
	}
	.sidebar-menu>ul>li>ul>li {
		padding-left: 1rem;
		border-bottom: 1px solid rgba(225, 255, 255, 0.1);
	}


	.sidebar-menu .m-menu{
		display:none;
	}

	.sidebar-menu .t-menu{
		display:block;
	}



	/*sidebar-item  */
	.sidebar-menu .sidebar-item {
		/* letter-spacing: 5px; */
	}
	.sidebar-menu .sidebar-item a {
		text-decoration: none;
	}
	.sidebar-menu .sidebar-item .sidebar-link>span {
		color: gray;
	}


	.sidebar-menu .sidebar-item .sidebar-dropdown .sub-item a {
		font-size: calc(0.26vw + 9.58pt);
		margin: 10px 0px;

	}
	.sidebar-menu ul ul li {
		line-height: 30px;
		/* 	border-bottom:none; */
	}
	.sidebar-menu ul ul li a {
		font-size: 10pt;
	}
	.sidebar-menu .sidebar-item .sidebar-link .bi-caret-up-fill {
		display: inline-block;
		transition: all ease 0.3s;
		transform: translateX(-50%);
	}
	.sidebar-menu .sidebar-item .sidebar-link .bi-caret-up-fill.rotate {
		display: inline-block;
		transition: all ease 0.3s;
		transform: translateX(-50%) rotate(-180deg);
	}


		.backcolor{
			background-color: #B9E2FA;
		}
@media all and (min-width:1024px){
}



@media screen and (max-width:1020px){


}


@media screen and (max-width:767px){
	.sidebar-menu .m-menu{
		display:block;
	}

	.sidebar-menu .t-menu{
		display:none;
	}

}


