
#productSearchContent #mobile-search .dropbox .down-icon{
	left:130px;
}

#productSearchContent #mobile-search tr:nth-child(1) span{
	width:40px;
}

#productSearchContent #mobile-search tr:nth-child(1) .down-icon{
	left:310px;
}

#productSearchContent #mobile-search tr:nth-child(1) .drop3btn{
	width:300px;
}

#productSearchContent>.item:nth-child(4){
	margin-top:10px;
}

#productSearchContent>.item:nth-child(4) .title{
	width:40px;
	font-size: calc(0.26vw + 9.08pt);
}


#productSearchContent>.item:nth-child(4) .value{
	background-color:white;
	text-align:right;
}


#productSearchContent>.item:nth-child(5){
	font-size: calc(0.26vw + 10.08pt);
}

#productSearchContent>.item:nth-child(5) .tab-content td{
	font-size: calc(0.26vw + 10.08pt);
}