
/* mobile-search */
#mobile-search{
	/* align-items: stretch;
	align-items: center; */
	box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
	border:0px;
	/* margin-top:10px; */


}

#mobile-search>.title{
	height:40px;
	padding:10px 20px;;
	background-color:#000069;
	color:white;
	font-size: calc(0.26vw + 9.08pt);

}

#mobile-search .table-box .datebox{
	display:flex;
	align-items: stretch;
	align-items: center;
}

#mobile-search .table-box .datebox span{
	font-size: calc(0.26vw + 7.08pt);
	color:#FF8C0A;
 	z-index: 2;
	position:relative;
 	top:0px;
 	left:15px;

}

#mobile-search .table-box .dropbox{
	display:flex;
	align-items: stretch;
	align-items: center;
}


#mobile-search .table-box .dropbox span{
	font-size: calc(0.26vw + 7.08pt);
	color:#FF8C0A;
 	z-index: 2;
	position:relative;
 	top:0px;
 	left:15px;
 	width:30px;
}

#mobile-search .table-box .inputbox{
	display:flex;
	align-items: stretch;
	align-items: center;
}

#mobile-search .table-box .inputbox span{
	font-size: calc(0.26vw + 7.08pt);
	color:#FF8C0A;
 	z-index: 2;
	position:relative;
 	top:0px;
 	left:15px;
 	width:40px;
}





#mobile-search .table-box .datebox input{
	width:80%;

}


#mobile-search .table-box  input{
	text-align:center;
	font-size: calc(0.26vw + 10.08pt);
}



#mobile-search table input{
	border:0;

}

#mobile-search table td{
	border:1px solid lightgray;
	height:40px;
	padding-right:10px;
}

