@media screen and (max-width:1400px) {
	.nav-side {
		transition: margin-left .35s ease-in-out, left .35s ease-in-out,
			margin-right .35s ease-in-out, right .35s ease-in-out;
		direction: ltr;
		width: 100%;
		min-width: 200px;
		display: flex;
		justify-content: center;
		overflow-y: auto;
		height:100%;

	}

	#sidebar-content {
		width: 100%;
		display: none;
	}

	.sidebar-brand {
		font-weight: 500;
		font-size: 2em;
		display: block;
		text-align: center;
		height: 40px;
		color: #fff;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding-left:40px;
	    background-color: rgba(225, 255, 255, 0.1);

	}
	.sidebar-brand img {
		width: auto;
		height: auto;
		max-width: 28px;
		max-height: 38px;
	}
	@font-face {
		font-family: 'Cafe24Dangdanghae';
		src:
			url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff')
			format('woff');
		font-weight: normal;
		font-style: normal;
	}
	#band-text {
		font-family: 'Cafe24Dangdanghae', sans-serif;
		/* font-family: 'BMEuljiro10yearslater', sans-serif; */
		font-size: calc(0.26vw + 12.08pt);
		padding-left: 10px;
		color: gray;
	}

	/*  sidebar-menu  */
	.sidebar-menu .sidebar-link, a.sidebar-link {
		text-decoration: none;
		transition: color 75ms ease-in-out;
		cursor: pointer;
		display: block;
		border-left: 3px solid transparent;
	}
	.sidebar-menu .sidebar-item>div {
		display: flex;
		justify-content: space-around;
		padding-left: 0.2rem;
		line-height: 50px;
		font-size: calc(0.26vw + 9.08pt);
		margin-top: 20px;
	}
	.sidebar-menu {
		padding-left: 0rem;
	}
	.sidebar-menu ul {
		padding-left: 0rem;
	}
	.sidebar-menu a {
		color: white;
	}
	.sidebar-menu>ul>li>ul>li {
		padding-left: 2.5rem;
		border-bottom: 1px solid rgba(225, 255, 255, 0.1);
	}

	/*sidebar-item  */
	.sidebar-menu .sidebar-item {
		letter-spacing: 5px;
	}
	.sidebar-menu .sidebar-item a {
		text-decoration: none;
	}
	.sidebar-menu .sidebar-item .sidebar-link>span {
		color: gray;
	}
	.sidebar-menu .sidebar-item .sidebar-dropdown .sub-item a {
		font-size: calc(0.26vw + 9.58pt);
		margin: 10px 0px;
	}
	.sidebar-menu ul ul li {
		line-height: 30px;
		/* 	border-bottom:none; */
	}
	.sidebar-menu ul ul li a {
		font-size: 10pt;
	}
	.sidebar-menu .sidebar-item .sidebar-link .bi-caret-up-fill {
		display: inline-block;
		transition: all ease 0.3s;
		transform: translateX(-50%);
	}
	.sidebar-menu .sidebar-item .sidebar-link .bi-caret-up-fill.rotate {
		display: inline-block;
		transition: all ease 0.3s;
		transform: translateX(-50%) rotate(-180deg);
	}
}@media screen and (max-width:1020px){


}



@media screen and (max-width:768px){

}