
.mobile-result{
	/* margin-top:20px; */
	box-shadow: 0 2px 4px 0 rgb(43 43 43 / 10%);
	border-radius: 0.5rem;
	border:0px;

}

.mobile-result .tablebox #header{
	background-color:#f5f5f5;

}
.mobile-result .tablebox #header td{
	margin:20px;

}

.mobile-result .title{
	padding:8px;
}
.mobile-result .tablebox td {
	text-align:center;
	font-size: calc(0.26vw + 10.08pt);

}

.mobile-result .tablebox #header td{
	font-size: calc(0.26vw + 9.08pt);
}

.mobile-result .table td, .table th {
    padding: 3px;
    border-top: 0px;
}

.mobile-result .tablebox tbody tr{
	background-color:white;
}
