@import url("reset.css");


#wrap {width:100%; height:100%; min-width:1024px; min-height:100vh; background:#eee;}

.header {width:100%; height:60px; background:#a1a1a1;}
.header > .wrap {width:100%; display:flex; flex-wrap:wrap;}
.header .logo {width:220px; height:60px; background:#efa418; position:relative;}
.header .logo img {display:block; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.header .gnb {width:400px; height:60px; font-size:0;}
.header .gnb .gnb-btn {width:200px; height:60px; display:inline-block; vertical-align:middle; text-align:center;}
.header .gnb .gnb-btn a {display:block; font-size:15px; letter-spacing:-0.5px; font-weight:500; line-height:60px; color:#fff;}
.header .gnb .gnb-btn img {vertical-align:middle;}
.header .gnb .gnb-btn.on {background:#ec6d44;-webkit-box-shadow: 8px -1px 10px -4px rgba(0,0,0,0.5); -moz-box-shadow: 8px -1px 10px -4px rgba(0,0,0,0.5); box-shadow: 8px -1px 10px -4px rgba(0,0,0,0.5);}
.header .member-box {width:calc(100% - 620px); width:-webkit-calc(100% - 620px); width:-moz-calc(100% - 620px);}
.header .member-box ul {font-size:0; text-align:right;}
.header .member-box ul li {display:inline-block; height:60px; padding:0 20px; vertical-align:middle; position:relative;}
.header .member-box ul li img {vertical-align:middle; margin-right:5px;}
.header .member-box ul li a {font-size:13px; letter-spacing:-0.5px; font-weight:300; color:#fff; line-height:60px;}
.header .member-box ul li:before {content:""; width:1px; height:8px; background:rgba(255,255,255,0.4); position:absolute; left:0; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.header .member-box ul li:nth-child(1):before {display:none;}


.content-area {width:100%; height:calc(100% - 60px); height:-webkit-height:calc(100% - 60px); width:-moz-height:calc(100% - 60px); display:flex; flex-wrap:wrap;}
.content-area .lnb {width:220px; height:100%; background:#4c4743; overflow:hidden;}

.content-area .navi {margin-bottom:25px;}
.content-area .navi ul {font-size:0;}
.content-area .navi ul li {display:inline-block; padding-left:20px; font-size:13px; font-weight:300; color:#808080; position:relative;}
.content-area .navi ul li:nth-child(1) {padding-left:0;}
.content-area .navi ul li:before {content:""; width:5px; height:5px; border:solid #b3b3b3; border-width:0 1px 1px 0; position:absolute; left:5px; top:6px; transform:rotate(-45deg);}
.content-area .navi ul li:nth-child(1):before {display:none;}
.content-area .navi ul li p.home {width:14px; height:13px; position:relative;}
.content-area .navi ul li p.home i {width:10px; height:6px; background:#808080; position:absolute; left:2px; bottom:0;}
.content-area .navi ul li p.home:before {content:""; width:0; height:0; border-bottom:7px solid #808080; border-left:7px solid transparent; border-right:7px solid transparent; position:absolute; left:0; top:0;}
.content-area .navi ul li p.home:after {content:""; width:2px; height:5px; background:#f7f7f7; position:absolute; left:6px; bottom:0; border-radius:1px 1px 0 0;}


.content-area .main-title {font-size:24px; font-weight:500; letter-spacing:-1px; line-height:1; color:#333; margin-bottom:15px; position:relative;}
.content-area .main-title p {display:inline-block; vertical-align:middle; width:50%;}
.content-area .main-title.half {width:100%; font-size:0;}
.content-area .main-title.half > * {width:50%; display:inline-block; font-size:24px; vertical-align:middle;}
.content-area .main-title.half .top-total {font-size:24px; font-weight:300; letter-spacing:-0.5px; color:#333; line-height:1; text-align:right;}
.content-area .main-title.half .top-total span {font-size:36px; font-weight:500;}

.content-area .button-area {margin-top:30px; position:relative;}
.content-area .button-area ul {text-align:center; font-size:0;}
.content-area .button-area ul li {display:inline-block; margin-left:5px; position:relative;}
.content-area .button-area ul li:nth-child(1) {margin-left:0;}
.content-area .button-area ul li .share-box {position:absolute; background:url("/img/sub/share_bg.png") center top no-repeat; background-size:100% auto; width:242px; height:124px; padding:12px 0; box-sizing:border-box; top:-130px; display:none;}
.content-area .button-area ul li .share-box dl {font-size:0; text-align:center;}
.content-area .button-area ul li .share-box dl dd {display:inline-block; vertical-align:middle; margin-left:15px;}
.content-area .button-area ul li .share-box dl dd:nth-child(1) {margin-left:0;}
.content-area .button-area ul li .share-box dl dd img {display:block; max-width:100%;}
.content-area .button-area ul li .share-box dl dd p {font-size:13px;}

.lnb .lnb-wrap {width:240px; height:100%; overflow-y:scroll;}
.lnb .lnb-wrap > div {width:100%; min-height:calc((100vh - 60px) / 8); min-height:-webkit-calc((100vh - 60px) / 8); min-height:-moz-calc((100vh - 60px) / 8); border-top:1px solid rgba(255,255,255,0.11); box-sizing:border-box; position:relative;}
.lnb .lnb-wrap > div .inner {width:100%; padding:20px; box-sizing:border-box;}
.lnb .lnb-wrap .lnb-btn {}
.lnb .lnb-wrap .lnb-btn a {color:#e7dbd2; width:100%; height:auto; min-height:calc((100vh - 60px) / 8); min-height:-webkit-calc((100vh - 60px) / 8); min-height:-moz-calc((100vh - 60px) / 8); display:block;}
.lnb .lnb-wrap .lnb-btn h2 {font-size:16px; color:#e7dbd2; letter-spacing:-0.3px; font-weight:400; line-height:1;}
.lnb .lnb-wrap .lnb-btn ul {width:88%; margin:0 auto; margin-top:5px;}
.lnb .lnb-wrap .lnb-btn ul li {font-size:14px; letter-spacing:-0.3px; line-height:20px; padding-left:8px; text-indent:-8px;}
.lnb .lnb-wrap .lnb-btn ul li:before {content:"- ";}
.lnb .lnb-wrap .lnb-btn.on {background:#f7f7f7;}
.lnb .lnb-wrap .lnb-btn.on a {color:#4c4743;}
.lnb .lnb-wrap .lnb-btn.on h2 {color:#4c4743;}
.lnb .lnb-wrap .profile-box {}
.lnb .lnb-wrap .profile-box > .inner {width:100%; position:absolute; left:0; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%); display:flex; flex-wrap:wrap;}
.lnb .lnb-wrap .profile-box .photo {width:50px; margin-right:10px;}
.lnb .lnb-wrap .profile-box .profile {width:calc(100% - 60px); width:-webkit-calc(100% - 60px); width:-moz-calc(100% - 60px); position:relative;}
.lnb .lnb-wrap .profile-box .profile ul {width:100%; position:absolute; left:0; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.lnb .lnb-wrap .profile-box .profile ul li {font-size:14px; font-weight:200; line-height:18px; letter-spacing:-0.5px; color:#fff2e8;}


.depth-box {width:380px; height:100%; box-sizing:border-box; background:#f7f7f7; overflow:hidden; position:relative;}
.depth-box.wid-depth {width:calc(100% - 220px); width:-webkit-calc(100% - 220px); width:-moz-calc(100% - 220px);}
.depth-box.all-depth {width:100%;}

.depth-box > .inner {width:400px; height:100%; overflow-y:scroll; box-sizing:border-box; padding:20px 25px;}
.depth-box.wid-depth > .inner {width:calc(100% + 20px); width:-webkit-calc(100% + 20px); width:-moz-calc(100% + 20px);}
.depth-box.all-depth > .inner {width:calc(100% + 20px); width:-webkit-calc(100% + 20px); width:-moz-calc(100% + 20px);}


.result-box {width:calc(100% - 600px); width:-webkit-calc(100% - 600px); width:-moz-calc(100% - 600px); height:100%; box-sizing:border-box; background:#fff; overflow:hidden; position:relative;}
.result-box:before {content:""; width:0; height:0; border-left:12px solid #f7f7f7; border-top:15px solid transparent; border-bottom:15px solid transparent; position:absolute; top:65px; left:0;}
.result-box > .inner {width:calc(100% + 20px); width:-webkit-calc(100% + 20px); width:-moz-calc(100% + 20px); height:100%; box-sizing:border-box; padding:60px 25px; overflow-y:scroll;}
.result-box .top-total {font-size:24px; font-weight:300; letter-spacing:-0.5px; color:#333; line-height:1;}
.result-box .top-total span {font-size:36px; font-weight:500;}


.content-box {width:100%; height:100%; background:#fff; box-sizing:border-box; overflow:hidden; position:relative;}
.content-box > .inner {width:calc(100% + 20px); width:-webkit-calc(100% + 20px); width:-moz-calc(100% + 20px); overflow-y:scroll; box-sizing:border-box; padding:20px 25px;}



@media screen and (max-width: 1024px){


}