.form-control{
	margin:10px 0;
	
}
body{
	background: url("/images/visual_01_bg.jpg") center no-repeat;
	background-size: cover;
}
.container{
	width: 100%;
	height: 100%;
	
}

#main-box{
	width: 800px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.login-box{
	width: 100%;
	min-width: 800px;
	height: 480px;
	-webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
    background: rgba(255,255,255,0.55);
    
    display: flex;
    flex-direction: column;
	margin-top:20px;
	border-radius:10px;
}

.item:nth-child(1){
	
	margin:20px 20px;
	flex-grow: 1;
	
}
.item:nth-child(2){
	flex-grow: 1;
	margin-top:40px;
	padding:20px;	
	background-color:white;
    border-bottom-left-radius: 7px;
}

 .copyright {
 	font-size:8pt;
 }



