/* mobile-content  */
#mobile-content{
	font-size:12pt;
    
}

/* mobile-header */
#mobile-header{
	box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
	display:flex;
	height:60px;
	align-items: stretch;
	align-items: center;
	
}

#mobile-header .item:nth-child(1){
	font-size:20pt;
	width:10%;
}

#mobile-header .item:nth-child(2){
	width:60%;
}

#mobile-header .item:nth-child(3){
	text-align:right;
	width:30%;

}

/*  mobile-buttonbar */

#mobile-buttonbar{
	display:flex;
	height:60px;
	align-items: stretch;
	align-items: center;
	background-color:gray;
	
}

#mobile-buttonbar .item:nth-child(1){
	width:10%;
	font-size:15pt;
}


#mobile-buttonbar .item:nth-child(2){
	width:60%;
}


#mobile-buttonbar .item:nth-child(3){
	text-align:right;
	width:40%;
}


#mobile-buttonbar button{
	font-size:10pt;
}

/* mobile-search */
#mobile-search .itemWrap{
	display:flex;
}

#mobile-search .itemWrap .item:nth-child(1){
	width:50%;
}

#mobile-search .itemWrap .item:nth-child(2){
	width:50%;
}



/* mobile-result */

#mobile-result{

}

