
.list-paging {margin-top:20px;}
.list-paging ul {font-size:0; text-align:center;}
.list-paging ul li {display:inline-block; vertical-align:middle; padding:17px; position:relative;}
.list-paging ul li a {display:block;}
.list-paging ul li:first-child {padding-left:0;}
.list-paging ul li:last-child {padding-right:0;}
.list-paging ul li:not(.btn):after {content:""; width:2px; height:2px; background:#a0a0a0; position:absolute; left:0; top:50%; -wekbit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.list-paging ul li:nth-child(3):after {display:none;}
.list-paging ul li .box {width:40px; height:40px; box-sizing:border-box; border-radius:5px; background:#efa418; position:relative;}
.list-paging ul li .box a {display:block; width:40px; height:40px; border-radius:5px;}
.list-paging ul li.begin {padding-right:8px;}
.list-paging ul li.prev {padding-left:0;}
.list-paging ul li.next {padding-right:0;}
.list-paging ul li.end {padding-left:8px;}
.list-paging ul li .box:before,
.list-paging ul li .box:after {position:absolute; top:12px; border:solid #fff;}
.list-paging ul li.begin .box:before {content:""; width:13px; height:13px; border-width:0 0 1px 1px; left:13px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.list-paging ul li.begin .box:after {content:""; width:13px; height:13px; border-width:0 0 1px 1px; left:20px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.list-paging ul li.prev .box:after {content:""; width:13px; height:13px; border-width:0 0 1px 1px; left:17px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.list-paging ul li.next .box:after {content:""; width:13px; height:13px; border-width:1px 1px 0 0; right:17px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.list-paging ul li.end .box:before {content:""; width:13px; height:13px; border-width:1px 1px 0 0; right:13px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.list-paging ul li.end .box:after {content:""; width:13px; height:13px; border-width:1px 1px 0 0; right:20px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.list-paging ul li.on a {color:#efa418; font-weight:500;}


table tr td input {height:30px; box-sizing:border-box; background:#fff; border:1px solid #e0e0e0; border-top:2px solid #e0e0e0; padding:5px; font-size:15px;}
table tr td input.input-w-s {width:70px;}
table tr td input.input-w-m {width:170px;}
table tr td input.input-w-w {width:100%;}
table tr td .select-box {height:30px; overflow:hidden; box-sizing:border-box; position:relative; border:1px solid #e0e0e0; border-top:2px solid #e0e0e0; background:#fff;}
table tr td .select-box:after {content:""; width:0; height:0; border-top:4px solid #808080; border-left:3px solid transparent; border-right:3px solid transparent; position:absolute; right:5px; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
table tr td .select-box.select-w-s {width:70px;}
table tr td .select-box.select-w-m {width:170px;}
table tr td .select-box.select-w-w {width:100%;}
table tr td .select-box select {width:100%; height:28px; border:none; background:none; box-sizing:border-box; padding:2px 5px; font-size:15px; font-family: 'Noto Sans KR', sans-serif !important;  -webkit-appearance:none; -moz-appearance:none; appearance:none;}
table tr td .select-box select::-ms-expand {display:none;}
table tr td textarea {width:100%; border:1px solid #e0e0e0; border-top:2px solid #e0e0e0; box-sizing:border-box; resize:vertical; padding:5px; font-size:15px; font-family: 'Noto Sans KR', sans-serif;}
table tr td input[type="checkbox"] {display:none;}
table tr td input[type="checkbox"] + label p {width:15px; height:15px; box-sizing:border-box; background:#fff; border:1px solid #e6e6e6; margin:0 auto; cursor:pointer; position:relative; display:inline-block; vertical-align:middle;}
table tr td input[type="checkbox"]:checked + label p {background:#efa418; border:1px solid #efa418;}
table tr td input[type="checkbox"]:checked + label p:after {content:""; width:4px; height:7px; border:solid #fff; border-width:0 2px 2px 0; position:absolute; top:0; left:4px; transform:rotate(45deg);}


.member .content-inner {}
.member .content-inner table.mem-tb {width:100%; border-top:2px solid #333; border-bottom:1px solid #d9d9d9;}
.member .content-inner table.mem-tb tr {border-top:1px solid #d9d9d9;}
.member .content-inner table.mem-tb tr:nth-child(1) {border-top:none;}
.member .content-inner table.mem-tb tr th,
.member .content-inner table.mem-tb tr td {height:60px; box-sizing:border-box; font-size:15px; padding:15px 0;}
.member .content-inner table.mem-tb tr th {text-align:left; font-weight:400; width:auto;}
.member .content-inner table.mem-tb tr td {vertical-align:middle;}
.member .content-inner table.mem-tb tr td > * {display:inline-block; margin-left:4px; vertical-align:middle;}
.member .content-inner table.mem-tb tr td > *:nth-child(1) {margin-left:0;}
.member .content-inner table.mem-tb tr td input.addr2 {margin:0; margin-top:8px;}
.member .content-inner table.mem-tb tr td textarea {min-height:70px;}
.member .content-inner table.mem-tb tr td ul {font-size:0;}
.member .content-inner table.mem-tb tr td ul li {display:inline-block; margin-left:20px; font-size:15px;}
.member .content-inner table.mem-tb tr td ul li:nth-child(1) {margin-left:0;}
.member .content-inner .button-area {margin-top:30px;}



table.option-tb {width:100%; border-top:2px solid #333; border-bottom:1px solid #d9d9d9;}
table.option-tb tr {border-top:1px solid #d9d9d9;}
table.option-tb tr:nth-child(1) {border-top:none;}
table.option-tb tr th,
table.option-tb tr td {height:50px; box-sizing:border-box; font-size:15px; padding:10px 0; word-wrap:break-word; word-break:keep-all;}
table.option-tb tr th {text-align:left; font-weight:400; /*width:85px;*/}
table.option-tb tr td.button {width:117px;}
table.option-tb tr td.button ul {text-align:right; font-size:0;}
table.option-tb tr td.button ul li {display:inline-block; margin-left:5px;}
table.option-tb tr td.button ul li:nth-child(1) {margin-left:0;}
table.option-tb tr td.button-s {width:56px;}
table.option-tb tr td.button-s ul {text-align:right; font-size:0;}
table.option-tb tr td.button-s ul li {display:inline-block; margin-left:5px;}
table.option-tb tr td.button-s ul li:nth-child(1) {margin-left:0;}

.content-inner .sub-option-box {margin-top:20px;}
.content-inner .sub-option-box .sub-title {font-size:0; margin-bottom:10px;}
.content-inner .sub-option-box .sub-title > * {vertical-align:middle;}
.content-inner .sub-option-box .sub-title p {display:inline-block; width:calc(100% - 30px); width:-webkit-calc(100% - 30px); width:-moz-calc(100% - 30px); font-size:18px; font-weight:500; letter-spacing:-1px;}
.content-inner .sub-option-box .sub-title .btn {display:inline-block; width:30px; height:30px; border-radius:50%; box-sizing:border-box; border:2px solid #595959; background:#fff; cursor:pointer; position:relative;}
.content-inner .sub-option-box .sub-title .btn:before {content:""; width:12px; height:2px; background:#595959; position:absolute; left:7px; top:12px;}
.content-inner .sub-option-box .sub-title .btn:after {content:""; width:2px; height:12px; background:#595959; position:absolute; left:12px; top:7px; transition:transform 0.5s;}
.content-inner .sub-option-box .sub-title .btn.on:after {-webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); transform:rotate(90deg);}
.content-inner .sub-option-box .table-box {display:none;}

.content-inner .sub-option-box.non-slide .table-box {display:block;}


table.select-tb {width:100%; border-top:2px solid #333; border-bottom:1px solid #d9d9d9;}
table.select-tb tr {border-top:1px solid #d9d9d9;}
table.select-tb tr:nth-child(1) {border-top:none;}
table.select-tb tr th,
table.select-tb tr td {height:50px; box-sizing:border-box; font-size:15px; padding:10px 0; word-wrap:break-word; word-break:keep-all;}
table.select-tb tr td.price-box {text-align:right; font-size:15px; font-weight:300; line-height:22px; letter-spacing:-0.5px; color:#666;}
table.select-tb tr td.price-box span.price {font-size:17px; font-weight:400; color:#333; letter-spacing:0;}
table.select-tb tr td ul {font-size:0;}
table.select-tb tr td ul li {display:inline-block; font-size:15px; vertical-align:middle;}
table.select-tb tr td ul li.option {font-size:0; width:200px;}
table.select-tb tr td ul li.option p {display:inline-block; font-size:15px;}
table.select-tb tr td ul li.option p.title {color:#333; font-weight:400; padding-right:5px;}
table.select-tb tr td ul li.option p.title:after {content:":";}
table.select-tb tr td ul li.option p.cost {font-family: 'Roboto', sans-serif; color:#666;}
table.select-tb tr td ul li.combo .select-box {width:56px; border-top:1px solid #e0e0e0;}
table.select-tb tr td.btn div {margin-left:auto;}

.select-area {}
.select-area .select-option {margin-top:20px;}
.select-area .select-option .title-box {font-size:0; margin-bottom:10px;}
.select-area .select-option .title-box > * {display:inline-block; vertical-align:middle;}
.select-area .select-option .title-box p {width:calc(100% - 60px); width:-webkit-calc(100% - 60px); width:-moz-calc(100% - 60px); font-size:18px; font-weight:500; letter-spacing:-1px;}
.select-area .select-option .title-box .btn {width:56px; margin-left:4px;}
.select-area .select-option .select-tb-box {}


table.service-tb-1 {width:100%; border-top:2px solid #333; border-bottom:1px solid #d9d9d9;}
table.service-tb-1 tr {border-top:1px solid #d9d9d9;}
table.service-tb-1 tr:nth-child(1) {border-top:none;}
table.service-tb-1 tr.sub-tr {border-top:1px dashed #d9d9d9;}
table.service-tb-1 tr th,
table.service-tb-1 tr td {height:50px; box-sizing:border-box; font-size:15px; letter-spacing:-0.5px; padding:10px; word-wrap:break-word; word-break:keep-all; border-left:1px solid #d9d9d9;}
table.service-tb-1 tr th {text-align:left; font-weight:400; width:80px; border-left:none; padding:10px 0;}
table.service-tb-1 tr td {width:calc((100% - 80px) / 2); width:-webkit-calc((100% - 80px) / 2); width:-moz-calc((100% - 80px) / 2);}

table.service-tb-2 {width:100%; border-top:2px solid #333; border-bottom:1px solid #d9d9d9;}
table.service-tb-2 tr {border-top:1px solid #d9d9d9;}
table.service-tb-2 tr:nth-child(1) {border-top:none;}
table.service-tb-2 tr.sub-tr {border-top:1px dashed #d9d9d9;}
table.service-tb-2 tr th,
table.service-tb-2 tr td {height:50px; box-sizing:border-box; font-size:15px; letter-spacing:-0.5px; padding:10px; word-wrap:break-word; word-break:keep-all; border-left:1px solid #d9d9d9;}
table.service-tb-2 tr th {text-align:left; font-weight:400; width:auto; border-left:none; padding:10px 0;}

.tb-area {margin-top:30px;}
.tb-area:nth-child(1) {margin-top:0}
.tb-area table tr td ul.dot li {position:relative; padding-left:8px; text-indent:-8px; margin-top:5px; word-wrap:break-word; word-break:keep-all;}
.tb-area table tr td ul.dot li:before {content:"Â· "; font-weight:500;}
.tb-area table tr td ul.dot li:nth-child(1) {margin-top:0;}


table.profile-tb {width:100%; border-top:2px solid #333; border-bottom:1px solid #d9d9d9;}
table.profile-tb tr {border-top:1px solid #d9d9d9;}
table.profile-tb tr:nth-child(1) {border-top:none;}
table.profile-tb tr th,
table.profile-tb tr td {height:50px; box-sizing:border-box; font-size:15px; letter-spacing:-0.5px; padding:10px; word-wrap:break-word; word-break:keep-all;}
table.profile-tb tr td.line {border-right:1px dashed #d9d9d9;}
table.profile-tb tr th {width:80px; text-align:left; font-weight:400;}
table.profile-tb tr td {text-align:right;}
table.profile-tb tr td .profile-box {width:100%; font-size:0;}
table.profile-tb tr td .profile-box > div {display:inline-block; box-sizing:border-box; vertical-align:middle;}
/*table.profile-tb tr td .profile-box .icon {width:70px;}
table.profile-tb tr td .profile-box .icon img {display:block; max-width:100%;}*/
table.profile-tb tr td .profile-box .profile {width:calc(100% - 150px); width:-webkit-calc(100% - 150px); -moz-calc(100% - 150px); /*padding:0 20px;*/}
table.profile-tb tr td .profile-box .profile ul li {font-size:15px; margin-top:5px; color:#666; letter-spacing:-0.5px; text-align:left;}
table.profile-tb tr td .profile-box .profile ul li span {color:#333; font-weight:400;}
table.profile-tb tr td .profile-box .profile ul li:nth-child(1) {margin-top:0;}
table.profile-tb tr td .profile-box .date {width:150px; text-align:right; font-size:15px;}

.total-output-box {width:100%; display:flex; flex-wrap:wrap;}
.total-output-box .output-box {width:50%; font-size:0; border-bottom:1px solid #d9d9d9; padding:5px 0; box-sizing:border-box;}
.total-output-box .output-box > * {display:inline-block; vertical-align:middle; box-sizing:border-box;}
.total-output-box .output-box:nth-child(even) {border-left:1px dashed #d9d9d9;}
.total-output-box .output-box .option-title {width:80px; font-size:15px; font-weight:400; letter-spacing:-0.5px; padding:10px; word-wrap:break-word; word-break:keep-all;}
.total-output-box .output-box .option-cnt {width:calc(100% - 80px); width:-webkit-calc(100% - 80px); width:-moz-calc(100% - 80px); box-sizing:border-box; font-size:15px; letter-spacing:-0.5px; padding:10px; word-wrap:break-word; word-break:keep-all; text-align:right;}


table.result-tb {width:100%; border-top:2px solid #333; border-bottom:1px solid #d9d9d9;}
table.result-tb tr {border-top:1px solid #d9d9d9;}
table.result-tb tr:nth-child(1) {border-top:none;}
table.result-tb tr th,
table.result-tb tr td {height:50px; box-sizing:border-box; font-size:15px; letter-spacing:-0.5px; padding:10px; word-wrap:break-word; word-break:keep-all;}
table.result-tb tr th {width:130px; text-align:left; font-weight:400;}
table.result-tb tr td.option {width:350px;}
table.result-tb tr td.price {width:200px; text-align:right;}
table.result-tb tr td.count {}
table.result-tb tr.total-line td.total {font-size:17px; font-weight:400; text-align:right;}

.wide-inner {width:100%; height:90vh; box-sizing:border-box; overflow:hidden; padding-bottom:80px;}
.wide-inner .wide-box {width:calc(100% + 20px); width:-webkit-calc(100% + 20px); width:-moz-calc(100% + 20px); height:100%; overflow-y:scroll;}

table.list-tb {width:100%; border-top:2px solid #333;}
table.list-tb tr {border-bottom:1px solid #d9d9d9;}
table.list-tb tr:last-child {border-bottom:1px solid #a6a6a6;}
table.list-tb tr th,
table.list-tb tr td {height:50px; box-sizing:border-box; font-size:15px; letter-spacing:-0.5px; padding:10px; word-wrap:break-word; word-break:keep-all; text-align:center;}
table.list-tb tr th {font-weight:400;}
table.list-tb tr td.total {font-size:17px; font-weight:500; color:#333;}
table.list-tb tr td .select-box {width:85px; margin:0 auto;}


.breakdown .button-area {}
.breakdown .button-area ul {text-align:right;}


.option-popup {width:550px; height:85vh; max-height:655px; background:#fff; border-top:2px solid #3f3f3f; box-sizing:border-box; position:absolute; top:0; left:0; display:none; z-index:100; overflow:hidden;}
.option-popup .inner {width:570px; height:100%; overflow-y:scroll; box-sizing:border-box; padding:40px 25px;}
.option-popup h2 {font-size:24px; font-weight:500; letter-spacing:-1px; line-height:1; color:#333; margin-bottom:30px; text-align:center;}
.option-popup .search-box {width:100%; height:80px; box-sizing:border-box; background:#f7f7f7; border:1px solid #d9d9d9; position:relative;}
.option-popup .search-box > .wrap {width:100%; position:absolute; left:0; top:50%; -wekbit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.option-popup .search-box ul {font-size:0; text-align:center;}
.option-popup .search-box ul li {display:inline-block; vertical-align:middle; margin-left:5px;}
.option-popup .search-box ul li:nth-child(1) {margin-left:0;}
.option-popup .search-box ul li .select-box {width:116px; height:30px; box-sizing:border-box; border:1px solid #e0e0e0; background:#fff; position:relative; overflow:hidden; position:relative;}
.option-popup .search-box ul li .select-box:after {content:""; width:0; height:0; border-top:4px solid #808080; border-left:3px solid transparent; border-right:3px solid transparent; position:absolute; right:5px; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.option-popup .search-box ul li .select-box select {width:100%; height:28px; box-sizing:border-box; padding:0 5px; border:none; background:none; font-size:14px; font-family: 'Noto Sans KR', sans-serif !important; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.option-popup .search-box ul li .select-box select::-ms-expand {display:none;}
.option-popup .search-box ul li input {width:268px; height:30px; height:30px; box-sizing:border-box; background:#fff; border:1px solid #e0e0e0; padding:5px; font-size:14px;}
.option-popup .list-box {margin-top:30px;}
.option-popup .list-box .list-top {font-size:15px; font-weight:400; letter-spacing:-1px; color:#666; line-height:1; margin-bottom:15px;}
.option-popup .list-box .list-top span {font-weight:500;}
.option-popup .list-box .list-top span.point {color:#ec6d44;}
.option-popup .list-box .list-top span.page {color:#4c4743;}
.option-popup .list-box table {width:100%; border-top:2px solid #333; border-bottom:1px solid #a6a6a6;}
.option-popup .list-box table tr {border-top:1px dashed #d9d9d9;}
.option-popup .list-box table tr:nth-child(1) {border-top:none;}
.option-popup .list-box table tr th,
.option-popup .list-box table tr td {height:50px; box-sizing:border-box; font-size:15px; letter-spacing:-1px; text-align:center; padding:10px 5px;}
.option-popup .list-box table tr th {width:80px; font-weight:400; color:#333;}
.option-popup .list-box table tr td {font-weight:300; color:#666;}
.option-popup .list-box table tr td div {margin:0 auto;}
.option-popup .list-paging {}
.option-popup .list-paging ul {font-size:0; text-align:center;}
.option-popup .list-paging ul li {display:inline-block; vertical-align:middle; padding:17px; position:relative;}
.option-popup .list-paging ul li a {display:block;}
.option-popup .list-paging ul li:first-child {padding-left:0;}
.option-popup .list-paging ul li:last-child {padding-right:0;}
.option-popup .list-paging ul li:not(.btn):after {content:""; width:2px; height:2px; background:#a0a0a0; position:absolute; left:0; top:50%; -wekbit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.option-popup .list-paging ul li:nth-child(3):after {display:none;}
.option-popup .list-paging ul li .box {width:40px; height:40px; box-sizing:border-box; border-radius:5px; background:#efa418; position:relative;}
.option-popup .list-paging ul li .box a {display:block; width:40px; height:40px; border-radius:5px;}
.option-popup .list-paging ul li.begin {padding-right:8px;}
.option-popup .list-paging ul li.prev {padding-left:0;}
.option-popup .list-paging ul li.next {padding-right:0;}
.option-popup .list-paging ul li.end {padding-left:8px;}
.option-popup .list-paging ul li .box:before,
.option-popup .list-paging ul li .box:after {position:absolute; top:12px; border:solid #fff;}
.option-popup .list-paging ul li.begin .box:before {content:""; width:13px; height:13px; border-width:0 0 1px 1px; left:13px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.option-popup .list-paging ul li.begin .box:after {content:""; width:13px; height:13px; border-width:0 0 1px 1px; left:20px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.option-popup .list-paging ul li.prev .box:after {content:""; width:13px; height:13px; border-width:0 0 1px 1px; left:17px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.option-popup .list-paging ul li.next .box:after {content:""; width:13px; height:13px; border-width:1px 1px 0 0; right:17px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.option-popup .list-paging ul li.end .box:before {content:""; width:13px; height:13px; border-width:1px 1px 0 0; right:13px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.option-popup .list-paging ul li.end .box:after {content:""; width:13px; height:13px; border-width:1px 1px 0 0; right:20px; -wbkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.option-popup .list-paging ul li.on a {color:#efa418; font-weight:500;}
.option-popup .close-btn {width:40px; height:40px; border-radius:50%; background:#3f3f3f; border:2px solid #fff; box-sizing:border-box; position:absolute; top:0; right:0; cursor:pointer;}
.option-popup .close-btn:before {content:""; width:2px; height:13px; background:#fff; border-radius:5px; position:absolute; top:11px; left:17px; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);}
.option-popup .close-btn:after {content:""; width:2px; height:13px; background:#fff; border-radius:5px; position:absolute; top:11px; left:17px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); transform:rotate(-45deg);}

.popup-bg {width:100%; height:100%; background:rgba(0,0,0,0.34); position:absolute; top:0; left:0; z-index:10;}

.option6 .white-bg{background:#fff;}
.option6 .content-inner .sub-option-box .table_inner:after{content:""; display:block; clear:both;}
.option6 .content-inner .sub-option-box .table_inner .lt-box{width:49.5%; float:left;}
.option6 .content-inner .sub-option-box .table_inner .rt-box{width:49.5%; margin-left:1%; float:right;}
.option6 .content-inner .sub-option-box .bt-box{padding-top:20px; width:100%; clear:both;}
.option6 .content-inner .sub-option-box .top-box{padding-bottom:20px; width:100%; clear:both;}
.option6 .content-inner .sub-option-box .box-title{font-size:18px; font-weight:500; letter-spacing:-1px; margin-bottom:10px; padding-left:10px;}
.option6 .content-inner .sub-option-box .box-cont{width:100%; border-top:2px solid #333;}
.option6 table.add-tb{width:100%; border-right:1px solid #d9d9d9;}
.option6 .top-box table.add-tb, .option6 .bt-box table.add-tb{border-top:1px solid #d9d9d9;}
.option6 table.add-tb td{height: 50px; box-sizing: border-box; font-size: 15px; letter-spacing: -0.5px; padding: 10px; word-wrap: break-word; word-break: keep-all; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; text-align:right;}
.option6 .top-box table.add-tb td{text-align:left;}
.option6 table.add-tb th{height: 50px; box-sizing: border-box; font-size: 15px; letter-spacing: -0.5px; padding: 10px; word-wrap: break-word; word-break: keep-all; background:#f4f4f4; font-weight:400; border-left:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
.option6 table.add-tb td.item{text-align:left;}
.option6 table.add-tb td.item img{vertical-align:middle; display:inline-block; margin-right:5px;}
.option6 table.add-tb td.sel{text-align:center;}
.option6 table.add-tb td.sel .select-box{height: 30px; width:45px; display:inline-block; overflow: hidden; box-sizing: border-box; position: relative; border: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0; background: #fff;}
.option6 table.add-tb td.sel .select-box:after{content: ""; width: 0; height: 0; border-top: 4px solid #808080; border-left: 3px solid transparent; border-right: 3px solid transparent; position: absolute; right: 5px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%);}
.option6 table.add-tb td.sel .select-box select{width: 100%; height: 28px; border: none; background: none; box-sizing: border-box; padding: 2px 5px; font-size: 15px; font-family: 'Noto Sans KR', sans-serif !important; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.option6 table.add-tb td.sel .select-box select::-ms-expand {display:none;}


.list-search {display:inline-block; vertical-align:middle; width:49%;}
.list-search ul {font-size:0; text-align:right;}
.list-search ul li {display:inline-block; vertical-align:middle; margin-right:5px;}
.list-search ul li:last-child {margin-right:0;}
.list-search ul li:first-child {font-size:15px; font-weight:500; line-height:30px; width:100px; height:30px; background:#fafafa; text-align:center;}
.list-search ul li .select-box {width:120px; height:30px; box-sizing:border-box; border:solid #e0e0e0; border-width:2px 1px 1px 1px; background:#fff; position:relative; overflow:hidden; padding:0 5px;}
.list-search ul li .select-box:after {content:""; width:0; height:0; border-top:4px solid #808080; border-left:3px solid transparent; border-right:3px solid transparent; position:absolute; right:5px; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.list-search ul li .select-box select {width:100%; height:27px; border:none; background:none; font-family: 'Noto Sans KR', sans-serif !important; font-size:15px; font-weight:300; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.list-search ul li .select-box select::-ms-expand {display:none;}
.list-search ul li input[type="text"] {width:200px; height:30px; box-sizing:border-box; border:solid #e0e0e0; border-width:2px 1px 1px 1px; background:#fff; padding:0 5px; font-size:15px;}
.list-search ul li .list-search-btn {width:80px; height:30px; background:#333; text-align:center;}
.list-search ul li .list-search-btn a {display:block; font-size:15px; font-weight:400; letter-spacing:-1px; line-height:30px; color:#fff;}


@media screen and (max-width: 1024px){

	table.select-tb colgroup col:nth-child(2) {width:125px;}
	table.select-tb tr td.price-box {font-size:13px; line-height:22px;}
	table.select-tb tr td.price-box span.price {font-size:15px;}
	table.select-tb tr td ul li {font-size:14px;}
	table.select-tb tr td ul li.option {width:180px;}

	table.service-tb-1 tr th,
	table.service-tb-1 tr td {font-size:14px; padding:10px 5px;}
	table.service-tb-1 tr th {width:60px; border-left:none; padding:10px 0;}
	table.service-tb-1 tr td {width:calc((100% - 60px) / 2); width:-webkit-calc((100% - 60px) / 2); width:-moz-calc((100% - 60px) / 2);}

	table.service-tb-2 tr th,
	table.service-tb-2 tr td {font-size:14px; padding:10px 5px;}

	.tb-area table tr td ul.dot li {font-size:14px;}

	table.list-tb tr td .select-box select {font-size:14px;}

	.breakdown .main-title p {width:250px;}
	.breakdown .list-search {width:calc(100% - 260px); width:-webkit-calc(100% - 260px); width:-moz-calc(100% - 260px);}

}