

.tab-content{
	padding:20px 0px;
}

.content{
	display:none;
}

.content.show{
	display:block;
}

.nav-tabs{
	cursor:pointer;
}

.tab-content thead th{
	font-weight:normal;
}

