

/*seachContant  */

#seachContant .item{
	margin:5px;
}

/*searchCompany  */

#searchCompany{
	display:flex;

}

#searchCompany .item:nth-child(1){

	width:90%
}

#searchCompany .item:nth-child(2){
	width:10%
}



/*searchEtc  */

#searchEtc{
	width:100%;
	display:flex;

}

#searchEtc .item:nth-child(1){
	width:50%;
}


#searchEtc .item:nth-child(2){
	width:50%;
}

#searchEtc .item:nth-child(2) .form-select{
	color:grey;
}

#searchEtc .item:nth-child(2) .form-select option{
	color:black;
}



/*  tab-content */

.tab-content{
	padding:20px 0px;
}

.content{
	display:none;
}

.content.show{
	display:block;
}

.nav-tabs{
	cursor:pointer;
}

.tab-content thead th{
	font-weight:normal;
}

