.container{
	flex-direction: row-reverse; 

}

.item:nth-child(1){
	height:100px;
}

.item:nth-child(2){
	height:200px;
	display:flex;
}

.item:nth-child(3){
	height:800px;
	
}

#circle1 {
background-color:#86efef;
width:200px;
height:200px;
border-radius:150px;

text-align:center;
margin:0 auto;
font-size:12px;
vertical-align:middle;
line-height:150px;
}
#circle2 {
background-color:#0009;
border:1px solid #ff0000;
width:100px; height:100px;
border-radius:75px;
text-align:center;
margin:0 auto;
font-size:12px; color:#fff;
vertical-align:middle;
line-height:100px;
}