.container{
	display: flex; 
	/* flex-direction: row-reverse; */ 

	/* 	justify-content: flex-start; */
	/* justify-content: flex-end; */
	/* justify-content: center; */
	/*  justify-content: space-between;  */
	/*  justify-content: space-around;  */
	/* justify-content: space-evenly; */
}

.item{
	 flex-wrap: wrap;
	 flex-basis: 400px;
	 background-color:#fff;
	 margin-left:20px;
	 border-radius: 6px;
	 border : 1px solid #CCCCCC;
	 
}


.item:nth-child(1) {
	flex-grow: 1;
}

.item:nth-child(2) {
	flex-grow: 1;
}

.item-input{
	display: row-reverse; 
	align-items: center;
	padding:60px;
}

.form-control{
	margin:20px 0px;
}