
@media screen and (max-width:1400px){
   		 #customPayRegContent{
   		 /* 	width: 100%; */
			min-width:360px;
		}

		#customPayRegContent #mobile-search tr:nth-child(1) span{
			width:40px;
		}


		#customPayRegContent>.item:nth-child(5){
			display:flex;
			font-size: calc(0.26vw + 10.08pt);
		}

		#customPayRegContent>.item:nth-child(5) .tab-content td{
			font-size: calc(0.26vw + 10.08pt);
		}

		#customPayRegContent>.item:nth-child(5) .tab-content #tab2 .item-content{
			 display:flex;
			 width:100%;
			 flex-wrap: wrap;
			 justify-content: space-around;
		}

		#customPayRegContent>.item:nth-child(5) .tab-content #tab2 td{
			border-bottom:0px;
		}


		#customPayRegContent>.item:nth-child(5) .tab-content #tab2 .item-content .item:nth-child(1){
			min-width:360px;
			width:49%;
		}

		#customPayRegContent>.item:nth-child(5) .tab-content #tab2 .item-content .item:nth-child(2){
			min-width:360px;
			width:49%;
		}

		#customPayRegContent>.item:nth-child(5) .tab-content #tab3 .item-content{
			width:100%;
			display:flex;
			justify-content: space-around;
		}

		#customPayRegContent>.item:nth-child(5) .tab-content #tab3 .item{
			width:49%;
		}

		#customSignRegContent>.item:nth-child(5) .tab-content #tab3 .item:nth-child(1){
			padding-left :30px;
			padding-top:10px;
		}

		#customPayRegContent>.item:nth-child(5) .tab-content #tab3 .item:nth-child(2){
			margin-right :20px;
		}

		#customPayRegContent>.item:nth-child(5) .tab-content #tab3 .item-content #canvas{
			background-color:white;


		}



    }
@media screen and (max-width:1020px){


}



@media screen and (max-width:768px){

}




