<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunjin.fsms.repository.CsMapper">


     <select id="fspCs001S01" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_CS001_S01 (#{bpCd},#{empNo},#{startDate},#{endDate}) }
        ]]>
    </select>

      <select id="fspCs002S01" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_CS002_S01 (#{soNo}) }
        ]]>
    </select>

    <select id="fspCs002S02" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_CS002_S02 (#{soNo},#{bpCd},#{soldToParty},#{hsType}) }
        ]]>
    </select>

     <select id="fspCs002S03" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_CS002_S03 (#{soNo}) }
        ]]>
    </select>



</mapper>

