<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunjin.fsms.repository.ExMapper">

     <select id="fspEx001S01" parameterType="hashmap"  resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_EX001_S01 ( #{majorCd},#{bpCd},'', #{startDate} ,#{endDate},'' ) }

        ]]>
    </select>

  <select id="fspEx002S01" parameterType="String"  resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST..FSP_EX002_S01(#{soNo})}
        ]]>
    </select>

      <select id="fspEx002S02" parameterType="hashmap"  resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST..FSP_EX002_S02(#{soNo},#{majorCd}, #{bpCd}) }
        ]]>
    </select>


    <select id="fspEx002U01" parameterType="hashmap"  resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST..FSP_EX002_U01(#{soNo}, #{soSeq}, #{itemCd}, #{fmBarcode}, #{dnSeq}, #{empNo}) }
        ]]>
    </select>


    <select id="fspEx002U02" parameterType="hashmap"  resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST..FSP_EX002_U02(#{itemClass},#{type}, #{plantCd}, #{giDt}, #{movType}, #{soNo}, #{soSeq}, #{itemCd},#{giQty}, #{slCd}, #{empNo}) }
        ]]>
    </select>


     <select id="fspEx002U03" parameterType="hashmap"  resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST..FSP_EX002_U03(#{plantCd}, #{slCd}, #{trnsSlCd}, #{itemCd}, #{fmBarcode}, #{soType}, #{saItemFlag}, #{empNo}) }
        ]]>
    </select>

      <select id="fspEx002U04" parameterType="hashmap"  resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST..FSP_EX002_U04(#{soNo}, #{soSeq}, #{dnNo}, #{empNo}) }
        ]]>
    </select>




</mapper>

