<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunjin.fsms.repository.MainMapper">

	 <select id="selectMenu" statementType="CALLABLE" resultType="MenuDto">
        <![CDATA[
         	{ CALL HJW.dbo.WSP_ZZ_MENU_FSMS ('221010') }
        ]]>
    </select>


     <select id="selectSign"  resultType="String">
        <![CDATA[
         	SELECT TOP 1 SIGN
 			 FROM  HJW..FSMS_SIGN
        ]]>
    </select>

  	 <insert id="insertSign" parameterType="FileupdDto" >
        <![CDATA[
          INSERT INTO HJW..FSMS_SIGN (
             SIGN
          )
          VALUES (
            #{itemImage}
          )
        ]]>
    </insert>


  <select id="fspTm001S01"  parameterType="TmDto" resultType="TmDto">
        <![CDATA[
       		{ CALL HJW.dbo.FSP_TM001_S01 (#{bpCd} , #{majorCd}, #{startDate} ,#{endDate} ) }
        ]]>
    </select>


	<resultMap id="ssoHdrResult" type="SSoHdr">
		 <id property="soNo" column="so_no" javaType="String"/>

	 	<association property="soDeptKo843" column="so_no" javaType="SSoDeptKo843" resultMap="soDeptKo843Result" />

	</resultMap>

	    <resultMap id="soDeptKo843Result" type="SSoDeptKo843">
        <id property="soNo" column="so_no" javaType="String"/>
       	<result column="col_nm" property="colNm"/>
    </resultMap>




<!--      <select id="fspTm002S01"  parameterType="SSoHdr" resultType="SSoHdr">
        <![CDATA[
       		{ CALL HJW.dbo.FSP_TM002_S01 (#{soNo}) }
        ]]>
    </select> -->

     <select id="fspTm002S01"  resultMap="ssoHdrResult">
        <![CDATA[
			SELECT A.so_no, A.order_dt, B.col_nm
			from HYUNJINSN_TEST..S_SO_HDR A
			inner join HYUNJINSN_TEST..S_SO_DEPT_KO843 B
			on  A.so_no = B.so_no
			where A.so_no = '202103030001'
        ]]>
    </select>


       <select id="fspTm002S02"  resultType="HashMap">
        <![CDATA[
       		{ CALL HJW.dbo.FSP_TM002_S02 ('','') }
        ]]>
    </select>

     <select id="fspTm002S03"  resultType="HashMap">
        <![CDATA[
       		{ CALL HJW.dbo.FSP_TM002_S03 ('','') }
        ]]>
    </select>




</mapper>

