<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunjin.fsms.repository.MainMapper">

	 <select id="selectMenu" statementType="CALLABLE" resultType="MenuDto">
        <![CDATA[
         	{ CALL HJW.dbo.WSP_ZZ_MENU_FSMS ('221010') }
        ]]>
    </select>


     <select id="selectSign"  resultType="String">
        <![CDATA[
         	SELECT TOP 1 SIGN
 			 FROM  HJW..FSMS_SIGN
        ]]>
    </select>

  	 <insert id="insertSign" parameterType="FileupdDto" >
        <![CDATA[
          INSERT INTO HJW..FSMS_SIGN (
             SIGN
          )
          VALUES (
            #{itemImage}
          )
        ]]>
    </insert>





</mapper>

