<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunjin.fsms.repository.MainMapper">

	 <select id="selectMenu" statementType="CALLABLE" resultType="MenuDto">
        <![CDATA[
         	{ CALL HJW.dbo.WSP_ZZ_MENU_FSMS ('221010') }
        ]]>
    </select>


     <select id="selectSign"  resultType="String">
        <![CDATA[
         	SELECT TOP 1 ITEM_IMAGE
 			 FROM HYUNJINSN..B_ITEM_IMAGE;
        ]]>
    </select>
    
  	 <insert id="insertActnErr" parameterType="actnErr">
        <selectKey keyProperty="seq" resultType="int" order="BEFORE">
            SELECT ACTN_ERR_SEQ.nextval FROM DUAL
        </selectKey>
        <![CDATA[
          INSERT INTO ACTN_ERR (
            SEQ, TYPE, CODE, MSG
          )
          VALUES (
            #{seq},
            #{type}, #{code}, #{msg}
          )
        ]]>
    </insert>





</mapper>

