<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunjin.fsms.repository.MgMapper">

	<select id="fspMg002S01" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_MG002_S01 (#{soNo},#{empNo}) }
        ]]>
    </select>

   	<select id="fspMg002S02" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_MG002_S02 () }
        ]]>
    </select>

    <select id="fspMg002S03" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_MG002_S03 () }
        ]]>
    </select>

    <select id="fspMg002U01" parameterType="hashmap" resultType="hashmap">
        <![CDATA[
			{ CALL HJW_TEST.dbo.FSP_MG002_U01 (#{soNo},#{status},#{actSeq},#{actCd},#{actType},#{actDtIn},#{actDtOut},#{actRemark},#{empNo}) }
        ]]>
    </select>




</mapper>

